<!-- Header-->
<header class="banner py-5">
  <div class="container px-4 px-lg-5 py-5 my-5">
      <div class="text-center text-light">
          <h1 class="display-4 fw-bolder">Shop in style</h1>
          <p class="lead fw-normal text-dark fw-bolder mb-0">With E-Cart</p>
      </div>
  </div>
</header>
<!-- Section-->
<section class="py-5">
  <div class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5 cardHov" *ngFor="let product of allProducts | filter : searchTerm :'title' ">
              <div class="card h-100 p-3">
                  <!-- Product image-->
                  <img style="height: 220px;" class="card-img-top" [src]="product.image" [alt]="product.title" />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.title.slice(0,25)}}...</h5>
                          <!-- Product price-->
                          ${{product.price}}
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="d-flex justify-content-evenly">
                        <!-- view btn -->
                        <a class="btn btn-warning mt-auto" routerLink="view-product/{{product.id}}">
                          <div class="fa-solid fa-eye text-light"></div>
                        </a>
                        <!-- add to cart -->
                        <button (click)="addToCart(product)" class="btn btn-success">
                          <div class="fa-solid fa-cart-plus text-light"></div>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </div>
</section>
