<!-- empty wishlist -->
<div *ngIf="allProducts.length == 0" class="empty text-center">
  <img src="https://2.bp.blogspot.com/-QfSOClZc8r0/XNr6srFlzjI/AAAAAAAAGlA/lzs505eFFiEdyAytzKkMabdUTihKywcqwCLcBGAs/s1600/EXAM360%2B-%2BNo%2BWishlist.png" alt="empty" class="img-fluid"><br>
  <a routerLink="" class="btn btn-success mt-1">Add Items</a>
</div>
<!-- Section-->
<section class="py-5">
  <div *ngIf="allProducts.length != 0" class="container px-4 px-lg-5 mt-5">
      <div class="row gx-4 gx-lg-5 row-cols-2 row-cols-md-3 row-cols-xl-4 justify-content-center">
          <div class="col mb-5" *ngFor="let product of allProducts">
              <div class="card h-100 p-3 cardh">
                  <!-- Product image-->
                  <img height="200px" class="card-img-top" [src]="product.image" [alt]="product.title" />
                  <!-- Product details-->
                  <div class="card-body p-4">
                      <div class="text-center">
                          <!-- Product name-->
                          <h5 class="fw-bolder">{{product.title.slice(0,18)}}</h5>
                          <!-- Product price-->
                          <h6 class="text-danger">${{product.price}}</h6>
                      </div>
                  </div>
                  <!-- Product actions-->
                  <div class="card-footer p-4 pt-0 border-top-0 bg-transparent">
                      <div class="d-flex justify-content-evenly">
                        <!-- delete btn -->
                        <button (click)="removeItem(product.id)" class="btn btn-danger mt-auto">
                          <div class="fa-solid fa-trash text-light"></div>
                        </button>
                        <!-- add to cart -->
                        <button (click)="addToCart(product)" class="btn btn-success">
                          <div class="fa-solid fa-cart-plus text-light"></div>
                        </button>
                      </div>
                  </div>
              </div>
          </div>
      </div>
      <div class="text-center"><a routerLink="" class="btn btn-primary mt-1">Continue Shopping 	→</a></div>
  </div>
</section>
