<div class="main">
  <div class="translucent">
    <div class="content pt-2">
      <div class="container time">


        <!-- space -->
        <div class="row space pt-4">
          <div class="col-lg-4"></div>
          <div class="col-lg-4">
            <img class="img-fluid" src="https://media.tenor.com/IHdlTRsmcS4AAAAC/404.gif" alt="404">
          </div>
          <div class="col-lg-4"></div>
        </div>
        <!-- context -->
        <div class="row pt-4">
          <div class="col-lg-3"></div>
          <div class="col-lg-6 go-home">
            <h2 class="text-light text-center fs-5">Seems like you are lost. Please go home to continue shopping!</h2>
          </div>
          <div class="col-lg-3"></div>
        </div>
        <!-- buttons -->
        <div class="row pt-5">
          <div class="col-lg-2"></div>
          <div class="col-lg-8 text-center buttons">
            <span class="btn2">
              <a routerLink="" class="btn btn-light pt-1 pb-1 ps-5 pe-5 light">Home</a>
            </span>
          </div>
          <div class="col-lg-2"></div>
        </div>
      </div>
    </div>
  </div>
</div>

