<!-- Product section-->
<section class="py-5 d-flex align-items-center">
  <div class="container px-4 px-lg-5 my-5">
      <div class="row gx-4 gx-lg-5 align-items-center mt-5">
          <div class="col-md-6 text-center"><img height="300px" class="card-img-top mb-5 mb-md-0 w-50" [src]="product.image" [alt]="product.title" /></div>
          <div class="col-md-6">
              <div class="small mb-1 ">ID: {{product._id}}</div>
              <h1 class="display-5 fw-bolder">{{product.title}}</h1>
              <div class="fs-5 mb-4">
                  <span class="text-decoration-line-through"></span>
                  <span class="text-danger">${{product.price}}</span>
              </div>
              <p class="lead" style="text-transform: capitalize;">{{product.description}}</p>
              <div class="d-flex pb-2">
                  <!-- <input class="form-control text-center me-3" id="inputQuantity" type="num" value="1" style="max-width: 3rem" /> -->
                  <!-- add to wishlist -->
                  <button (click)="addToWishlist()" class="btn btn-outline-danger flex-shrink-0 me-3" type="button">
                    <i class="fa-solid fa-heart"></i>
                    Add to wishlist
                  </button>
                  <!-- add to cart -->
                  <button (click)="addToCart(product)" class="btn btn-outline-success flex-shrink-0" type="button">
                      <i class="fa-solid fa-cart-plus"></i>
                      Add to cart
                  </button>
              </div>
          </div>
      </div>
  </div>
</section>
